extends layout

block content
	h1 #{title}
	form(action="/articles/add", method="post") 
		input(type="hidden", name="_csrf", value=csrfToken)
		.mb-3 
			label.form-label(for="title") Title 
			input.form-control#title(name="title", type="text", value=article && article.title)
		//- .mb-3 
		//- 	label.form-label(for="author") Author 
		//- 	input.form-control#author(name="author", type="text", value=article && article.author)
		.mb-3 
			label.form-label(for="body") Content 
			textarea.form-control#body(name="body")= article && article.body
		br
		button.btn.btn-primary(type="submit") Submit