extends layout

block content
    h1= article.title
    h2.h5 Written by #{article.author}
    p= article.body 
    hr
    .btn-group
        a.btn.btn-primary.me-3(href=`/articles/edit/${article._id}`, role="button") Edit 
        a.btn.btn-danger.delete-article(href=`/articles/delete/`, data-id=article._id, role="button") Delete 